.gtbabel__field {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    margin: 0;
    border-bottom: 1px solid #dadada;
    padding: 2px 5px;
}
.gtbabel__field:last-child {
    border-bottom: 0;
}
.gtbabel__label {
    flex: 0 1 320px;
    line-height: 30px;
    min-height: 30px;
    text-align: left;
}
.gtbabel__submit--space.gtbabel__submit--space {
    margin-top: 20px;
}
.gtbabel__inputbox {
    flex: 0 1 calc(100% - 320px);
}
.gtbabel__input {
    width: 100%;
    max-width: 100%;
}
.gtbabel__input--textarea {
    display: block;
    height: 76px;
}
.gtbabel__input--select,
.gtbabel__input--select.gtbabel__input--select {
    max-width: 100%;
}
.gtbabel__inputbox .gtbabel__input--checkbox {
    margin-top: 7px;
}
.gtbabel__repeater-listitem {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    margin-bottom: 3px;
}
$button_width: 105px;
.gtbabel__repeater-listitem--count-1 .gtbabel__input {
    flex: 0 1 calc((100% - #{$button_width}) / 1);
}
.gtbabel__repeater-listitem--count-2 .gtbabel__input {
    flex: 0 1 calc((100% - #{$button_width}) / 2);
}
.gtbabel__repeater-listitem--count-3 .gtbabel__input {
    flex: 0 1 calc((100% - #{$button_width}) / 3);
}
.gtbabel__repeater-listitem--count-4 .gtbabel__input {
    flex: 0 1 calc((100% - #{$button_width}) / 4);
}
.gtbabel__repeater-listitem--count-5 .gtbabel__input {
    flex: 0 1 calc((100% - #{$button_width}) / 5);
}
.gtbabel__repeater-listitem--count-6 .gtbabel__input {
    flex: 0 1 calc((100% - #{$button_width}) / 6);
}
.gtbabel__repeater-listitem--count-7 .gtbabel__input {
    flex: 0 1 calc((100% - #{$button_width}) / 7);
}
.gtbabel__repeater-listitem--count-8 .gtbabel__input {
    flex: 0 1 calc((100% - #{$button_width}) / 8);
}
.gtbabel__repeater-listitem--count-9 .gtbabel__input {
    flex: 0 1 calc((100% - #{$button_width}) / 9);
}
.gtbabel__repeater-action {
    flex: 0 1 $button_width;
    text-align: center;
}
.gtbabel__repeater-add {
    width: $button_width;
    text-align: center;
}
.gtbabel__repeater-listitem--missing {
    opacity: 0.5;
}
.gtbabel__repeater-listitem--missing .gtbabel__repeater-action--disable,
.gtbabel__repeater-listitem--missing .gtbabel__repeater-action--remove,
.gtbabel__repeater-listitem:not(.gtbabel__repeater-listitem--missing) .gtbabel__repeater-action--enable,
.gtbabel__repeater-listitem--default .gtbabel__repeater-action--remove,
.gtbabel__repeater-listitem:not(.gtbabel__repeater-listitem--default) .gtbabel__repeater-action--disable {
    display: none;
}

.gtbabel__languagelist {
    column-count: 20;
    column-width: 140px;
    column-gap: 0px;
    margin-top: 3px;
    margin-bottom: 2px;
}
.gtbabel__languagelist-item {
    break-inside: avoid-column;
    line-height: 0.9rem;
    padding: 3px 0;
    margin-bottom: 0;
}
.gtbabel__languagelist-item .gtbabel__input--checkbox:checked::before {
    overflow: hidden;
}
.gtbabel__languagelist-item .gtbabel__input--checkbox {
    margin-top: 0;
    vertical-align: top;
}
.gtbabel__languagelist-label-inner {
    vertical-align: top;
    line-height: 1rem;
}

.gtbabel--settings .gtbabel__submit + .gtbabel__subtitle {
    margin-top: 50px;
}

.gtbabel--trans .gtbabel__table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}
.gtbabel--trans .gtbabel__table-head .gtbabel__table-cell {
    text-align: center;
    font-weight: bold;
    min-width: 100px;
}
.gtbabel--trans .gtbabel__table-cell {
    width: auto;
    border: 1px solid gainsboro;
    position: relative;
}
.gtbabel--trans .gtbabel__table-cell:nth-last-child(3) {
    width: 10%;
}
.gtbabel--trans .gtbabel__table-cell:nth-last-child(2) {
    width: 8%;
}
.gtbabel--trans .gtbabel__table-cell:nth-last-child(1) {
    width: 8%;
}
.gtbabel--trans .gtbabel__table .gtbabel__input--textarea {
    width: 100%;
    height: 50px;
    border: 0;
    border-radius: 0;
    padding: 2px 3px;
    /*font-family: 'Courier New', sans-serif;*/
    font-size: 12px;
}
.gtbabel--trans .gtbabel__table .gtbabel__input--checkbox {
    margin: 0 auto;
    display: block;
}
.gtbabel--trans .gtbabel__table .gtbabel__input[disabled] {
    background-color: #fff;
    color: #32373c;
    box-shadow: none;
}
.gtbabel--trans .gtbabel__table .gtbabel__input--textarea {
    resize: vertical;
}
.gtbabel--trans .gtbabel__table .gtbabel__input--textarea {
    scrollbar-color: #c7c7c7 #ffffff;
    scrollbar-width: thin;
}
.gtbabel--trans .gtbabel__table .gtbabel__input--textarea::-webkit-scrollbar {
    width: 4px;
}
.gtbabel--trans .gtbabel__table .gtbabel__input--textarea::-webkit-scrollbar-track {
    background-color: #ffffff;
}
.gtbabel--trans .gtbabel__table .gtbabel__input--textarea::-webkit-scrollbar-thumb {
    background-color: #c7c7c7;
}
.gtbabel--trans .gtbabel__input--check-translation {
    position: absolute;
    top: 0;
    right: 0;
}
.gtbabel--trans .gtbabel__input--check-translation:not(:checked) + .gtbabel__input--textarea {
    background-color: #ffebeb;
}
.gtbabel--trans .gtbabel__input--check-translation + .gtbabel__input--textarea {
    width: calc(100% - 20px);
    margin-top: 5px;
}
.gtbabel--trans .gtbabel__discovered-last-url-link {
    position: absolute;
    top: 17px;
    right: 0;
    z-index: 0;
    font-size: 14px;
    line-height: 18px;
    height: 18px;
    width: 18px;
    color: #000;
    display: block;
    text-align: center;
    text-decoration: none;
}
.gtbabel--trans .gtbabel__submit + .gtbabel__submit {
    margin-left: 10px;
}

.gtbabel__file-info {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: flex-start;
    padding: 4px 2px;
    position: relative;
}
.gtbabel__file-info > * {
    flex: 0 1 auto;
    margin-right: 6px !important;
    font-size: 10px;
}
.gtbabel__file-info > *:last-child {
    margin-right: 0 !important;
}
.gtbabel__file-info-img {
    display: block;
    height: 26px;
    width: auto;
    position: absolute;
    top: 4px;
    left: 2px;
    z-index: 1;
    transition: all 0.1s ease-in-out;
}
.gtbabel__file-info-img:hover {
    height: 200px;
    z-index: 2;
}

.gtbabel__video-info {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: flex-start;
    position: relative;
}
.gtbabel__video-info-img {
    display: block;
    height: 26px;
    width: auto;
    position: absolute;
    top: 4px;
    left: 2px;
    z-index: 1;
    transition: all 0.1s ease-in-out;
}
.gtbabel__video-info-img:hover {
    height: 200px;
    z-index: 2;
}
.gtbabel__video-id {
    font-size: 12px;
    flex: 0 1 auto;
    width: 60%;
    border-radius: 0 !important;
}

.gtbabel__pagination {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    margin: 0 0 20px;
    flex-wrap: wrap;
}
.gtbabel__pagination-item {
    flex: 0 1 auto;
    margin-right: 10px;
}
.gtbabel__pagination-link,
.gtbabel__pagination-cur {
    display: inline-block;
    width: 14px;
    text-align: center;
}

.gtbabel__auto-translate-error,
.gtbabel__auto-grab-error {
    color: red;
    font-weight: bold;
}
.gtbabel__auto-translate-loading,
.gtbabel__auto-grab-loading {
    display: block;
    margin: 10px 0;
}
.gtbabel--wizard .gtbabel__auto-translate-loading {
    margin: 10px auto;
}
.gtbabel__auto-translate-done {
    width: 85px;
    display: block;
    margin-top: 10px;
    border: 1px solid #dadada;
}
.gtbabel--wizard .gtbabel__auto-translate-done {
    width: 150px;
    margin: 0px auto;
    border: none;
}

.gtbabel__search {
    width: 100%;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    margin-bottom: 20px;
}
.gtbabel__search > * {
    margin-right: 5px;
    margin-left: 0;
}
.gtbabel__search .gtbabel__input[name='s'] {
    flex: 0 0 calc((100% - 80px - (4 * 5px)) * 0.7);
}
.gtbabel__search .gtbabel__input[name='shared'] {
    flex: 0 0 calc((100% - 80px - (4 * 5px)) * 0.1);
}
.gtbabel__search .gtbabel__input[name='checked'] {
    flex: 0 0 calc((100% - 80px - (4 * 5px)) * 0.1);
}
.gtbabel__search .gtbabel__input[name='context'] {
    flex: 0 0 calc((100% - 80px - (4 * 5px)) * 0.1);
}
.gtbabel__search .gtbabel__submit {
    flex: 0 0 80px;
    margin-right: 0;
}

.gtbabel__transmeta-mainurl-link {
    font-size: 16px;
    vertical-align: middle;
}
.gtbabel__transmeta-reset {
    font-size: 10px;
    margin-left: 5px;
    vertical-align: middle;
    text-decoration: none;
}
.gtbabel__transmeta-mainurl-input {
    width: 100%;
}
.gtbabel__transmeta-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}
.gtbabel__transmeta-listitem {
    flex: 0 1 auto;
}
.gtbabel__transmeta-listitem:not(:last-child) {
    margin-right: 10px;
}

.gtbabel__highlight {
    color: red;
    font-weight: bold;
}

.gtbabel__code-container code {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    line-height: 13px;
    font-size: 12px;
}

.gtbabel__progress {
    margin: 0 auto;
    width: 100%;
    margin-bottom: 20px;
    height: 6px;
    background-color: #f5f5f5;
    overflow: hidden;
    margin-top: 20px;
}
.gtbabel__progress-inner {
    height: 100%;
}

body[class*='_page_gtbabel-wizard'] #wpcontent {
    height: calc(100vh - 32px - 40px);
}
body[class*='_page_gtbabel-wizard'] #wpbody {
    height: 100%;
}

.gtbabel--wizard {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    left: 25%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 10px 30px -10px rgba(0, 0, 0, 0.15);
}
.gtbabel--wizard .gtbabel__title,
.gtbabel--wizard .gtbabel__wizard-steptitle,
.gtbabel--wizard .gtbabel__pro-note {
    text-align: center;
}

.gtbabel__wizard-step--center {
    text-align: center;
}

.gtbabel__wizard-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-top: 30px;
}

.gtbabel__wizard-buttons > *:first-child:last-child {
    margin-left: auto;
    order: 2;
}

.gtbabel--wizard .gtbabel__input--big {
    padding: 5px 2px;
    text-align: center;
    font-size: 29px;
    margin-top: 10px;
}

.gtbabel__finish-image {
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    display: block;
    border-radius: 3px;
}

.gtbabel__transwizard-languages {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}
.gtbabel__transwizard-language {
    margin: 0;
}
.gtbabel__transwizard-language--disabled {
    opacity: 0.35;
    pointer-events: none;
}
.gtbabel__transwizard-language-link {
    display: block;
    text-decoration: none;
    background-color: #ffffff;
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.15);
    width: 140px;
    height: 100px;
    margin: 0 30px 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease-in-out;
    position: relative;
}
.gtbabel__transwizard-language-link:hover {
    transform: scale(0.95);
}
.gtbabel__transwizard-language-linktext {
    font-size: 14px;
    color: #23282d;
}
.gtbabel__transwizard-language-count {
    background-color: grey;
    color: #fff;
    font-weight: bold;
    position: absolute;
    bottom: -2px;
    right: -2px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    overflow: hidden;
}
.gtbabel__transwizard-language-count--highlight {
    background-color: red;
}

.gtbabel__transwizard-card {
    background-color: #ffffff;
    width: 500px;
    margin: 0 auto;
    padding: 30px 20px;
    max-width: 100%;
    border-radius: 0px;
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 32%);
    position: relative;
}
.gtbabel__transwizard-card-context {
    margin-bottom: 20px;
    position: absolute;
    background-color: rgba(54, 59, 63, 0.85);
    color: #fff;
    padding: 12px 30px;
    transform: rotate(11deg);
    top: -15px;
    right: -20px;
    font-size: 17px;
    font-weight: bold;
}
.gtbabel__transwizard-card-discovered-last-url {
    position: absolute;
    top: 0;
    left: 0px;
    z-index: 0;
    font-size: 17px;
    line-height: 18px;
    height: 18px;
    width: 18px;
    background-color: #ffffff;
    color: #000;
    display: block;
    text-align: center;
    text-decoration: none;
}
.gtbabel__transwizard-card-textarea {
}
.gtbabel__transwizard-card-textarea:focus {
    border: 1px solid #7e8993;
    box-shadow: none;
    outline: none;
}
.gtbabel__transwizard-card-source {
}
.gtbabel__transwizard-card-button {
    width: 100%;
}
.gtbabel__transwizard-done {
    text-align: center;
}
.gtbabel__transwizard-done-image {
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    display: block;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.2);
}

.gtbabel--permissions .gtbabel__table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    table-layout: fixed;
}
.gtbabel--permissions .gtbabel__table-head .gtbabel__table-cell {
    font-weight: bold;
}
.gtbabel--permissions .gtbabel__table-cell {
    width: auto;
    border: 1px solid gainsboro;
    position: relative;
    padding: 2px 7px;
    text-align: center;
}
.gtbabel--permissions .gtbabel__table-cell:nth-child(1) {
    text-align: left;
    width: 250px;
}

.gtbabel--token {
    text-align: center;
}
.gtbabel--token .gtbabel__input {
    width: 100%;
    font-size: 20px;
    text-align: center;
    display: block;
    margin-top: 100px;
    margin-bottom: 10px;
}

.gtbabel__pro-note {
    color: red;
    font-weight: bold;
    margin: 5px 0;
}

.gtbabel__basicauth-note {
    width: 100%;
    padding: 7px 10px;
    margin: 10px 0;
    color: #fff;
}
.gtbabel__basicauth-note--warning {
    background-color: #dac651;
}
.gtbabel__basicauth-note--error {
    background-color: #ff8888;
}
